body {
   background: #fafafa;
}

.content-box {
   background: #ffffff;
   padding: 20px 20px;
   border: 1px solid gray;
   border-radius: 10px;
   margin-bottom: 20px;
}

.dp {
   border-radius: 50%;
   border: 1px solid gray;
}

.dp-profile {
   width: 128px;
   height: 128px;
   margin-right: 20px;
   margin-bottom: 20px;
}

.dp-post {
   width: 64px;
   height: 64px;
   margin-right: 16px;
   margin-top: 4px;
}

.dp-navbar {
   width: 24px;
   height: 24px;
}

.post-title {
   color: #444444;
   text-decoration: none;
}

a.post-title:hover {
   color: #666666;
}

.post-content {
   white-space: pre-wrap;
}
