{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section">

    <!-- Form: -->
    <form method="post">

      {% csrf_token %}  <!-- Must be here. Adds security. (https://youtu.be/q4jPR-M0TAQ?t=512) -->

      <fieldset class="form-group">
        <!-- Heading: -->
        <legend class="border-bottom mb-4">{% block heading %}{% endblock %}</legend>
        <!-- Form Inputs: -->
        {{ form|crispy }}
      </fieldset>

      <!-- Submit Button: -->
      <div class="form-group">
        <button class="btn btn-outline-primary mb-2" type="submit">{% block btn_txt %}{% endblock %}</button>
      </div>

    </form>

    <!-- For already-registered / new users: -->
    {% block other_auth %}
    {% endblock %}

  </div>

{% endblock content %}
