{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section">

    <!-- Form: -->
    <form method="post">

      {% csrf_token %}  <!-- Must be here. Adds security. (https://youtu.be/q4jPR-M0TAQ?t=512) -->

      <fieldset class="form-group">
        <!-- Heading -->
        <legend class="border-bottom mb-4">Join Today</legend>
        <!-- Form Inputs: -->
        {{ form|crispy }}
      </fieldset>

      <!-- Submit Button: -->
      <div class="form-group">
        <button class="btn btn-outline-info mb-4" type="submit">Sign Up</button>
      </div>

    </form>

    <!-- For already registered users: -->
    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="#">Sign In</a>
      </small>
    </div>

  </div>

{% endblock content %}
