{% extends 'blog/base.html' %}

{% block content %}

<div class="card bg-dark-subtle rounded-4 border-0 p-3 pb-1 my-4 fw-medium">
    <div class="card-body">
        <ul class="list-unstyled">
            <li class="mb-4">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Developed a full-stack blog website using Django, with user registration, authentication, profile
                customization,
                <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">CRUD</a>
                operations on posts, email-based password reset, and auto square-cropping of profile images.
            </li>
            <li class="mb-4">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Designed a responsive, minimalistic
                <a href="https://en.wikipedia.org/wiki/OLED#Advantages:~:text=High%20dynamic%20range%20support"
                   target="_blank" rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">OLED-black</a>
                UI using HTML, CSS, and Bootstrap, with additional features like custom
                <a href="https://en.wikipedia.org/wiki/Pagination#In_web_browsers" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">pagination</a>
                logic and dynamic content truncation for enhanced UX.
            </li>
            <li class="mb-4">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Added a public
                <a href="https://en.wikipedia.org/wiki/REST" target="_blank" rel="noopener noreferrer"
                   class="text-primary-emphasis text-decoration-none">REST</a>ful
                <a href="/api1" rel="noopener noreferrer"
                   class="text-primary-emphasis text-decoration-none">API</a> with read-only access to blog posts, using
                Django REST framework.
            </li>
            <li class="mb-0 pb-0">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Followed
                <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">DRY</a>
                principle to cut redundancy and boost maintainability by
                <a href="https://en.wikipedia.org/wiki/Inheritance_(object-oriented_programming)" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">inheriting</a>
                from
                <a href="https://docs.djangoproject.com/en/stable/topics/class-based-views" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">class-based views</a>
                and
                <a href="https://docs.djangoproject.com/en/stable/topics/templates" target="_blank"
                   rel="noopener noreferrer" class="text-primary-emphasis text-decoration-none">templates</a>.
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
