<!-- https://getbootstrap.com/docs/5.3/getting-started/introduction/#quick-start: -->

<!DOCTYPE html>

<!-- For `main.css` etc.: -->
{% load static %}

<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon (used https://realfavicongenerator.net): -->
    <link rel="icon" type="image/png" href="{% static 'blog/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'blog/favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'blog/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Django Blog" />
    <link rel="manifest" href="{% static 'blog/favicon/site.webmanifest' %}" />

    <!-- Page Title: -->
    {% if title %}
      <title>Django Blog - {{ title }}</title>
    {% else %}
      <title>Django Blog</title>
    {% endif %}

    <!-- Bootstrap's CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- GitHub Icon: -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- Our CSS: -->
    <link href="{% static 'blog/main.css' %}" rel="stylesheet">
    <!-- Custom Font: -->
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap" rel="stylesheet">

  </head>

  <body class="bg-black text-light d-flex flex-column min-vh-100">

    <!-- Header Navbar (https://getbootstrap.com/docs/5.3/components/navbar): -->
    <header class="mb-4">
      <nav class="navbar navbar-expand-lg bg-dark-subtle">
        <div class="container">

          <!-- "flex" to keep the "Django Blog" and "About" together on small screens -->
          <div class="d-flex align-items-center">
            <!-- Brand Image & Text (https://getbootstrap.com/docs/5.3/components/navbar/?#image-and-text): -->
            <a class="navbar-brand text-light" href="{% url 'home' %}">
              <img class="d-inline-block align-text-top rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWONTlmhZ6CYb1vm0_84eKRI_-vlgNxlJUrQ&s" alt="Django" height="30"> Blog
            </a>
            <!-- About Link: -->
            <a class="navbar-nav nav-link text-light" href="{% url 'about' %}">About</a>
          </div>

          <!-- Navbar collapse behind a button for small screens (https://getbootstrap.com/docs/5.3/components/navbar/?#toggler): -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links (Register + Login / New Post + Your Profile): -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 d-flex align-items-start align-items-lg-center ms-0 ms-lg-auto">  <!-- ms-auto: moving links to the right -->
              <!-- Django passes `user` context var by default, where it's the current logged-in user. (https://youtu.be/3aVqWaLjqS4?t=1100) -->
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'create' %}">New Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}" data-bs-toggle="tooltip" data-bs-title="Your Profile">
                    <img class="dp-navbar rounded-circle border border-dark-subtle" src="{{ user.profile.pic.url }}" alt="DP">
                  </a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'login' %}">Log In</a>
                </li>
              {% endif %}
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <!-- Main Body (https://getbootstrap.com/docs/5.3/layout/containers/#default-container): -->
    <div class="container flex-grow-1">

      <div class="container">

        {% if title %}
          <h1 class="text-center mb-3">{{ title }}</h1>
        {% endif %}

        <!-- Flash Messages: -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-4">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <!-- Main Content: -->
        {% block content %}
        {% endblock %}

      </div>

    </div>

    <!-- Footer (https://getbootstrap.com/docs/5.3/examples/footers): -->
    <!--
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">Made with ❤ by Samyak</span>
      </div>
      <a class="text-muted" href="https://github.com/samyak1409/django" target="_blank">
            https://icons.getbootstrap.com#icon-font
            <i class="bi bi-github text-light fs-2" data-bs-toggle="tooltip" data-bs-title="Star Project on GitHub"></i>
      </a>
    </footer>
    -->
    <!-- Footer (https://getbootstrap.com/docs/5.3/components/navbar/#text-1 + https://getbootstrap.com/docs/5.3/components/navbar/#image): -->
    <footer class="bg-dark-subtle px-2">
      <nav class="navbar">
        <div class="container">
          <span class="navbar-text">
            Made with <span class="heart">❤️</span> by <a class="text-decoration-none text-light" href="mailto:samyak65400@gmail.com" target="_blank">Samyak</a>
          </span>
          <a href="https://github.com/samyak1409/django" target="_blank">
            <!-- https://icons.getbootstrap.com#icon-font -->
            <i class="bi bi-github text-light fs-2" data-bs-toggle="tooltip" data-bs-title="Star Project on GitHub"></i>
          </a>
        </div>
      </nav>
    </footer>

    <!-- Bootstrap's JS Bundle: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- https://getbootstrap.com/docs/5.3/components/tooltips/#enable-tooltips: -->
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

  </body>
</html>
